$black: #1A1A1A
$gray: #B3B3B3
$white: #ffffff

$gradient-blue: linear-gradient(90deg, #48BBF0 0%, #1B63A6 100%)
$gradient-green: linear-gradient(90deg, #BCD431 0%, #00AAFF 100%)

$yellow: #EFB443
$gray: #696969
$l-gray: #BFBFBF
$w-gray: #F1F1F1
$peach: #FFFAF7
$green: #91C258
$red: #F95757

$base-fz: 18px
$h1-fz: 64px
$h2-fz: 54px
$btn-fz: 16px

$container-w: 1200px
$container-p: 30px
