$black: #282828
$yellow: #EFB443
$white: #ffffff
$gray: #696969
$l-gray: #BFBFBF
$w-gray: #F1F1F1
$peach: #FFFAF7
$green: #91C258
$red: #F95757

$base-fz: 18px
$h1-fz: 64px
$h2-fz: 54px
$btn-fz: 16px

$container-w: 1200px
$container-p: 30px
